.App {
  text-align: center;
  background-color: #0C0B0B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-grow: 1;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}


.container {
  position: relative;
  width: 90%;
  height: 750px;
  margin-top: 40px;
  background-color: #2F2E31;
  border-radius: 20px;
}

.imgFav {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  width: 40px;
  height: 50px;
}

.content {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  background-color: #3B3B3F;
  border-radius: 20px;
  padding: 15px;
}

.video{
  width: 100%;
}