@import "antd/dist/antd.css";

.Menu {
    background-color: #0C0B0B;
    height: 100px;
    width: 100%;
    font-size: 17px;
}

.headerMenu {
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.netruc {
    text-align:center;
    margin:auto;
}

.netruc:before {
  color: white;
  content: "Pour regarder des trucs";
  top: -1em;
  display: block;
}

.divMenu {
  background-color: #0C0B0B;
  margin-right: 20px;
  -ms-flex-item-align: auto;
}

.imgMenu {
  float: right;
  text-align: right;
}

.imgUtil {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
}

.imgQuest {
  margin-top: auto;
  margin-bottom: auto;
}

.imgStars {
  float: left;
  position: absolute;
}

.util {
  float: left;
  float: top;
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}

.progBar {
  float: left;
  margin-left: 15px;
  width: 40%;
  min-width: 150px;
  border: 4px solid white;
  border-radius: 50px;
}

.flex {
  color: white;
  background-color: #0C0B0B;
  flex: 1;
}