@import "antd/dist/antd.css";

.Menu {
    background-color: #0C0B0B;
    height: 100px;
    width: 100%;
}

.headerMenu {
    height: 100px;
    display: flex;
}

.ant-switch {
  background-color: #45444B;
  margin-left: 10px;
  margin-top: 40px;
  width: 60px;
}

.ant-switch-checked {
  background-color: #DB202C !important;
}

.netruc {
    text-align:center;
    margin:auto;
}

.netruc:before {
  color: white;
  content: "Pour regarder des trucs";
  top: -1em;
  display: block;
}

.divMenu {
  background-color: #0C0B0B;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.imgMenu {
    background-color: #0C0B0B;
    text-align: right;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.profil {
  color: white;
  margin-left: 5%;
}

.quest {
  margin-right: 5%;
}

.imgSwitch {
  z-index: 2;
  position: absolute;
  margin-top: 10px;
  margin-left: 9px;
  height: 15px;
  width: 15px;
}

.imgSwitch:before {
  position: absolute;
  -webkit-transition: .4s;
  transition: 4s;
}