/* --------------------------------- Trophée ------------------------------------- */

.Trophe {
    text-align: center;
    background-color: #0C0B0B;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-grow: 1;
    width: 100%;
}

.titreTrophe {
    margin-top: 3%;
}

.textLight {
    font-weight: 100;
}

.Objectif {
    width: 60%;
    height: 180px;
    border-radius: 20px;
    background-color: #2F2E31;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.flexTroph {
    flex: 1;
    background-color: #2F2E31;
}

.circleBar {
    width: 20%;
    height: 70%;
    margin-left: 3%;
}

.text {
    width: 45%;
    text-align: left;
}

.text-exp {
    margin-top: 30px;
    font-size: 24px;
}

.texteObj {
    text-align: left;
}

.texteTitre {
    font-size: 27px;
    font-weight: 600;
}

.texteDesc {
    font-size: 22px;
    font-weight: 400;
}

.Right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #0C0B0B;
    border-radius: 50%;
}

.textGras {
    font-weight: bold;
}

.end {
    border: 4px solid #DB202C;
}

.Recup {
    width: 220px;
    height: 60px;
    background-color: #DB202C;
    border-radius: 15px;
    margin-top: -40px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}